{% extends "base.html" %}
{% block navbar%}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">哈尔滨监狱减刑辅助工具</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

  </div><!-- /.container-fluid -->
</nav>
{% block page_navbar %}
    <div>
    <ul class="nav nav-tabs" role="tablist" id="myTab">
  <li role="presentation" class="active"><a href="#" data-toggle="tab">减刑间隔期计算器</a></li>
  <li role="presentation"><a href="#" data-toggle="tab">呈报幅度建议工具</a></li>
  <li role="presentation"><a href="#" data-toggle="tab">减刑细则速查</a></li>
  <li role="presentation"><a href="#" data-toggle="tab">减刑摸底排查工具</a></li>
  <li role="presentation"><a href="#" data-toggle="tab">常用问题集</a></li>
</ul>
    </div>
{% endblock %}

{% endblock %}




