{% extends "header.html" %}

{% block page_navbar %}
    <div>
    <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="/jgq" >减刑间隔期计算器</a></li>
    <li role="presentation" ><a href="/cbfd">呈报幅度建议工具</a></li>
    <li role="presentation"><a href="#" data-toggle="tab">减刑细则速查</a></li>
    <li role="presentation"><a href="#" data-toggle="tab">减刑摸底排查工具</a></li>
    <li role="presentation"><a href="#" data-toggle="tab">常用问题集</a></li>
    </ul>
    </div>

{% endblock %}


{% block container%}

  <h1>减刑间隔期计算</h1>
    <form method="POST" action="/jgq/calc">
    {{ form.hidden_tag() }}
        罪名{{ form.zuiming(size=20) }}
        原判刑期{{ form.yuanpanxingqi(size=20) }}
        呈报日期{{ form.chengbaodate(size=20) }}
        起始时间{{ form.qishishijian(size=20) }}
        上次减刑幅度{{ form.shangcijxfd(size=20) }}
        减刑起始时间{{ form.jxqishishijian(size=20) }}
        立功{{ form.ligong(size=20) }}
        重大立功{{ form.zhongdaligong(size=20) }}
        <input type="submit" value="计算">
    </form>
    <h1>{{ str }}</h1>

{% endblock %}